.content
  .header
    %h2.header__text
      タイトル
    .login_user
      %span.login_user__text
        = "#{current_user.name}さん"
    .user_chenge
      = link_to "ユーザー切替", destroy_user_session_path, method: :delete, class: 'btn'
  .main
    .clients_content
      %h3.clients_content__text
        クライエントリスト
    .clients_menu
      .clients_search
        %input
        %button.button
          検索
      .clients_new
        = link_to "クライエント登録", new_client_path, method: :get, class: 'btn'
    .clients_list
      .clients_box
        %table.clients_table
          %tr
            %th.client_name 名前
            %th.client_sex 性別
            %th.client_age 年齢
            %th.client_show_link
          - @clients.each do |client|
            %tr
              %td.client_name
                = "#{client.first_name} #{client.last_name}"
              %td.client_sex
                = "#{client.sex}"
              %td.client_age
                = "#{client.age}"
              %td.client_show_link
                = link_to '詳細', client_path(client.id)
          
  .footer
    