%tr
  %td.question_text どちらかというと客観的に考えられるほうですか？
  %td.radio_anser
    = f.radio_button :no21, 2, class: "a", id: "a_1"
  %td.radio_anser
    = f.radio_button :no21, 1, class: "a", id: "a_1"
  %td.radio_anser
    = f.radio_button :no21, 0, class: "a", id: "a_1"
%tr
  %td.question_text 相手の嘘を見抜けるほうですか？
  %td.radio_anser
    = f.radio_button :no22, 2, class: "a", id: "a_2"
  %td.radio_anser
    = f.radio_button :no22, 1, class: "a", id: "a_2"
  %td.radio_anser
    = f.radio_button :no22, 0, class: "a", id: "a_2"
%tr
  %td.question_text 公平ということを大事にしますか？
  %td.radio_anser
    = f.radio_button :no23, 2, class: "a", id: "a_3"
  %td.radio_anser
    = f.radio_button :no23, 1, class: "a", id: "a_3"
  %td.radio_anser
    = f.radio_button :no23, 0, class: "a", id: "a_3"
%tr
  %td.question_text 損得に敏感なほうですか？
  %td.radio_anser
    = f.radio_button :no24, 2, class: "a", id: "a_4"
  %td.radio_anser
    = f.radio_button :no24, 1, class: "a", id: "a_4"
  %td.radio_anser
    = f.radio_button :no24, 0, class: "a", id: "a_4"
%tr
  %td.question_text 論理的なほうですか？
  %td.radio_anser
    = f.radio_button :no25, 2, class: "a", id: "a_5"
  %td.radio_anser
    = f.radio_button :no25, 1, class: "a", id: "a_5"
  %td.radio_anser
    = f.radio_button :no25, 0, class: "a", id: "a_5"
%tr
  %td.question_text よく考えてから行動しますか？
  %td.radio_anser
    = f.radio_button :no26, 2, class: "a", id: "a_6"
  %td.radio_anser
    = f.radio_button :no26, 1, class: "a", id: "a_6"
  %td.radio_anser
    = f.radio_button :no26, 0, class: "a", id: "a_6"
%tr
  %td.question_text 現実的なタイプですか？
  %td.radio_anser
    = f.radio_button :no27, 2, class: "a", id: "a_7"
  %td.radio_anser
    = f.radio_button :no27, 1, class: "a", id: "a_7"
  %td.radio_anser
    = f.radio_button :no27, 0, class: "a", id: "a_7"
%tr
  %td.question_text 自分は合理的な考えをするほうだと思いますか？
  %td.radio_anser
    = f.radio_button :no28, 2, class: "a", id: "a_8"
  %td.radio_anser
    = f.radio_button :no28, 1, class: "a", id: "a_8"
  %td.radio_anser
    = f.radio_button :no28, 0, class: "a", id: "a_8"
%tr
  %td.question_text 昔からどちらかというと、しっかりしているように見られるほうでしたか？
  %td.radio_anser
    = f.radio_button :no29, 2, class: "a", id: "a_9"
  %td.radio_anser
    = f.radio_button :no29, 1, class: "a", id: "a_9"
  %td.radio_anser
    = f.radio_button :no29, 0, class: "a", id: "a_9"
%tr
  %td.question_text 人よりも喜怒哀楽の度合いが少ないほうですか？
  %td.radio_anser
    = f.radio_button :no30, 2, class: "a", id: "a_10"
  %td.radio_anser
    = f.radio_button :no30, 1, class: "a", id: "a_10"
  %td.radio_anser
    = f.radio_button :no30, 0, class: "a", id: "a_10"