%tr
  %td.question_text 人の顔色に敏感なほうですか？
  %td.radio_anser
    = f.radio_button :no41, 2, class: "ac", id: "ac_1"
  %td.radio_anser
    = f.radio_button :no41, 1, class: "ac", id: "ac_1"
  %td.radio_anser
    = f.radio_button :no41, 0, class: "ac", id: "ac_1"
%tr
  %td.question_text 妥協するほうですか？
  %td.radio_anser
    = f.radio_button :no42, 2, class: "ac", id: "ac_2"
  %td.radio_anser
    = f.radio_button :no42, 1, class: "ac", id: "ac_2"
  %td.radio_anser
    = f.radio_button :no42, 0, class: "ac", id: "ac_2"
%tr
  %td.question_text 断るということが、とっても苦手なほうですか？
  %td.radio_anser
    = f.radio_button :no43, 2, class: "ac", id: "ac_3"
  %td.radio_anser
    = f.radio_button :no43, 1, class: "ac", id: "ac_3"
  %td.radio_anser
    = f.radio_button :no43, 0, class: "ac", id: "ac_3"
%tr
  %td.question_text 人の言うことが、気になるほうですか？
  %td.radio_anser
    = f.radio_button :no44, 2, class: "ac", id: "ac_4"
  %td.radio_anser
    = f.radio_button :no44, 1, class: "ac", id: "ac_4"
  %td.radio_anser
    = f.radio_button :no44, 0, class: "ac", id: "ac_4"
%tr
  %td.question_text うまくいかない時は、ついつい自分のせいだと思ってしまうほうですか？
  %td.radio_anser
    = f.radio_button :no45, 2, class: "ac", id: "ac_5"
  %td.radio_anser
    = f.radio_button :no45, 1, class: "ac", id: "ac_5"
  %td.radio_anser
    = f.radio_button :no45, 0, class: "ac", id: "ac_5"
%tr
  %td.question_text 言いたい事があっても、言えないほうですか？
  %td.radio_anser
    = f.radio_button :no46, 2, class: "ac", id: "ac_6"
  %td.radio_anser
    = f.radio_button :no46, 1, class: "ac", id: "ac_6"
  %td.radio_anser
    = f.radio_button :no46, 0, class: "ac", id: "ac_6"
%tr
  %td.question_text 怒られたりすると、ずっと気にしてしまうほうですか？
  %td.radio_anser
    = f.radio_button :no47, 2, class: "ac", id: "ac_7"
  %td.radio_anser
    = f.radio_button :no47, 1, class: "ac", id: "ac_7"
  %td.radio_anser
    = f.radio_button :no47, 0, class: "ac", id: "ac_7"
%tr
  %td.question_text 自分の感情を押さえてしまうほうですか？
  %td.radio_anser
    = f.radio_button :no48, 2, class: "ac", id: "ac_8"
  %td.radio_anser
    = f.radio_button :no48, 1, class: "ac", id: "ac_8"
  %td.radio_anser
    = f.radio_button :no48, 0, class: "ac", id: "ac_8"
%tr
  %td.question_text 人に評価されないと自信が持てないほうですか？
  %td.radio_anser
    = f.radio_button :no49, 2, class: "ac", id: "ac_9"
  %td.radio_anser
    = f.radio_button :no49, 1, class: "ac", id: "ac_9"
  %td.radio_anser
    = f.radio_button :no49, 0, class: "ac", id: "ac_9"
%tr
  %td.question_text 「怨み」はひきずってしまうほうですか？
  %td.radio_anser
    = f.radio_button :no50, 2, class: "ac", id: "ac_10"
  %td.radio_anser
    = f.radio_button :no50, 1, class: "ac", id: "ac_10"
  %td.radio_anser
    = f.radio_button :no50, 0, class: "ac", id: "ac_10"