%tr
  %td.question_text 正義感は強いですか？
  %td.radio_anser
    = f.radio_button :no1, 2, class: "cp", id: "cp_1"
  %td.radio_anser
    = f.radio_button :no1, 1, class: "cp", id: "cp_1"
  %td.radio_anser
    = f.radio_button :no1, 0, class: "cp", id: "cp_1"
%tr
  %td.question_text 人の欠点に敏感なほうですか？
  %td.radio_anser
    = f.radio_button :no2, 2, class: "cp", id: "cp_2"
  %td.radio_anser
    = f.radio_button :no2, 1, class: "cp", id: "cp_2"
  %td.radio_anser
    = f.radio_button :no2, 0, class: "cp", id: "cp_2"
%tr
  %td.question_text 一度言い出すと、後には引かないほうですか？
  %td.radio_anser
    = f.radio_button :no3, 2, class: "cp", id: "cp_3"
  %td.radio_anser
    = f.radio_button :no3, 1, class: "cp", id: "cp_3"
  %td.radio_anser
    = f.radio_button :no3, 0, class: "cp", id: "cp_3"
%tr
  %td.question_text 道徳の欠けている人は絶対に嫌ですか？
  %td.radio_anser
    = f.radio_button :no4, 2, class: "cp", id: "cp_4"
  %td.radio_anser
    = f.radio_button :no4, 1, class: "cp", id: "cp_4"
  %td.radio_anser
    = f.radio_button :no4, 0, class: "cp", id: "cp_4"
%tr
  %td.question_text 義務を果たそうという思いは強いですか？
  %td.radio_anser
    = f.radio_button :no5, 2, class: "cp", id: "cp_5"
  %td.radio_anser
    = f.radio_button :no5, 1, class: "cp", id: "cp_5"
  %td.radio_anser
    = f.radio_button :no5, 0, class: "cp", id: "cp_5"
%tr
  %td.question_text 人の裏切りは許せないほうですか？
  %td.radio_anser
    = f.radio_button :no6, 2, class: "cp", id: "cp_6"
  %td.radio_anser
    = f.radio_button :no6, 1, class: "cp", id: "cp_6"
  %td.radio_anser
    = f.radio_button :no6, 0, class: "cp", id: "cp_6"
%tr
  %td.question_text 人を引っ張る立場になることがあるほうですか？
  %td.radio_anser
    = f.radio_button :no7, 2, class: "cp", id: "cp_7"
  %td.radio_anser
    = f.radio_button :no7, 1, class: "cp", id: "cp_7"
  %td.radio_anser
    = f.radio_button :no7, 0, class: "cp", id: "cp_7"
%tr
  %td.question_text 良い悪いをはっきりさせたいほうですか？
  %td.radio_anser
    = f.radio_button :no8, 2, class: "cp", id: "cp_8"
  %td.radio_anser
    = f.radio_button :no8, 1, class: "cp", id: "cp_8"
  %td.radio_anser
    = f.radio_button :no8, 0, class: "cp", id: "cp_8"
%tr
  %td.question_text どちらかというと完璧主義者ですか？
  %td.radio_anser
    = f.radio_button :no9, 2, class: "cp", id: "cp_9"
  %td.radio_anser
    = f.radio_button :no9, 1, class: "cp", id: "cp_9"
  %td.radio_anser
    = f.radio_button :no9, 0, class: "cp", id: "cp_9"
%tr
  %td.question_text 時間を守るということに、うるさいほうですか？
  %td.radio_anser
    = f.radio_button :no10, 2, class: "cp", id: "cp_10"
  %td.radio_anser
    = f.radio_button :no10, 1, class: "cp", id: "cp_10"
  %td.radio_anser
    = f.radio_button :no10, 0, class: "cp", id: "cp_10"