%tr
  %td.question_text いろいろな事に興味を持ちやすいほうですか？
  %td.radio_anser
    = f.radio_button :no31, 2, class: "fc", id: "fc_1"
  %td.radio_anser
    = f.radio_button :no31, 1, class: "fc", id: "fc_1"
  %td.radio_anser
    = f.radio_button :no31, 0, class: "fc", id: "fc_1"
%tr
  %td.question_text 気分によって行動が変わりやすいですか？
  %td.radio_anser
    = f.radio_button :no32, 2, class: "fc", id: "fc_2"
  %td.radio_anser
    = f.radio_button :no32, 1, class: "fc", id: "fc_2"
  %td.radio_anser
    = f.radio_button :no32, 0, class: "fc", id: "fc_2"
%tr
  %td.question_text アイデアが浮かぶほうですか？
  %td.radio_anser
    = f.radio_button :no33, 2, class: "fc", id: "fc_3"
  %td.radio_anser
    = f.radio_button :no33, 1, class: "fc", id: "fc_3"
  %td.radio_anser
    = f.radio_button :no33, 0, class: "fc", id: "fc_3"
%tr
  %td.question_text はしゃぐ事はどちらかというと好きなほうですか？
  %td.radio_anser
    = f.radio_button :no34, 2, class: "fc", id: "fc_4"
  %td.radio_anser
    = f.radio_button :no34, 1, class: "fc", id: "fc_4"
  %td.radio_anser
    = f.radio_button :no34, 0, class: "fc", id: "fc_4"
%tr
  %td.question_text 何かにつけ、面白くさせようとするほうですか？
  %td.radio_anser
    = f.radio_button :no35, 2, class: "fc", id: "fc_5"
  %td.radio_anser
    = f.radio_button :no35, 1, class: "fc", id: "fc_5"
  %td.radio_anser
    = f.radio_button :no35, 0, class: "fc", id: "fc_5"
%tr
  %td.question_text 出たとこ勝負をすることが、あるほうですか？
  %td.radio_anser
    = f.radio_button :no36, 2, class: "fc", id: "fc_6"
  %td.radio_anser
    = f.radio_button :no36, 1, class: "fc", id: "fc_6"
  %td.radio_anser
    = f.radio_button :no36, 0, class: "fc", id: "fc_6"
%tr
  %td.question_text 目立つのは、どちらかというと好きなほうですか？
  %td.radio_anser
    = f.radio_button :no37, 2, class: "fc", id: "fc_7"
  %td.radio_anser
    = f.radio_button :no37, 1, class: "fc", id: "fc_7"
  %td.radio_anser
    = f.radio_button :no37, 0, class: "fc", id: "fc_7"
%tr
  %td.question_text 言いたい事を我慢するのは、苦手なほうですか？
  %td.radio_anser
    = f.radio_button :no38, 2, class: "fc", id: "fc_8"
  %td.radio_anser
    = f.radio_button :no38, 1, class: "fc", id: "fc_8"
  %td.radio_anser
    = f.radio_button :no38, 0, class: "fc", id: "fc_8"
%tr
  %td.question_text ユーモアのあるほうですか？
  %td.radio_anser
    = f.radio_button :no39, 2, class: "fc", id: "fc_9"
  %td.radio_anser
    = f.radio_button :no39, 1, class: "fc", id: "fc_9"
  %td.radio_anser
    = f.radio_button :no39, 0, class: "fc", id: "fc_9"
%tr
  %td.question_text 人に合わせていると、イライラしたり疲れたりする事がよくありますか？
  %td.radio_anser
    = f.radio_button :no40, 2, class: "fc", id: "fc_10"
  %td.radio_anser
    = f.radio_button :no40, 1, class: "fc", id: "fc_10"
  %td.radio_anser
    = f.radio_button :no40, 0, class: "fc", id: "fc_10"