%tr
  %td.question_text 自分はお人好しなほうだと思いますか？
  %td.radio_anser
    = f.radio_button :no11, 2, class: "np", id: "np_1"
  %td.radio_anser
    = f.radio_button :no11, 1, class: "np", id: "np_1"
  %td.radio_anser
    = f.radio_button :no11, 0, class: "np", id: "np_1"
%tr
  %td.question_text ついつい同情してしまうことがよくありますか？
  %td.radio_anser
    = f.radio_button :no12, 2, class: "np", id: "np_2"
  %td.radio_anser
    = f.radio_button :no12, 1, class: "np", id: "np_2"
  %td.radio_anser
    = f.radio_button :no12, 0, class: "np", id: "np_2"
%tr
  %td.question_text 自分は思い遣りのあるほうだと思いますか？
  %td.radio_anser
    = f.radio_button :no13, 2, class: "np", id: "np_3"
  %td.radio_anser
    = f.radio_button :no13, 1, class: "np", id: "np_3"
  %td.radio_anser
    = f.radio_button :no13, 0, class: "np", id: "np_3"
%tr
  %td.question_text 面倒見が良いほうですか？
  %td.radio_anser
    = f.radio_button :no14, 2, class: "np", id: "np_4"
  %td.radio_anser
    = f.radio_button :no14, 1, class: "np", id: "np_4"
  %td.radio_anser
    = f.radio_button :no14, 0, class: "np", id: "np_4"
%tr
  %td.question_text 小さな子や動物は、どちらかというと好きなほうですか？
  %td.radio_anser
    = f.radio_button :no15, 2, class: "np", id: "np_5"
  %td.radio_anser
    = f.radio_button :no15, 1, class: "np", id: "np_5"
  %td.radio_anser
    = f.radio_button :no15, 0, class: "np", id: "np_5"
%tr
  %td.question_text 人を励ますことがよくありますか？
  %td.radio_anser
    = f.radio_button :no16, 2, class: "np", id: "np_6"
  %td.radio_anser
    = f.radio_button :no16, 1, class: "np", id: "np_6"
  %td.radio_anser
    = f.radio_button :no16, 0, class: "np", id: "np_6"
%tr
  %td.question_text どちらかというと人の失敗を許せるほうですか？
  %td.radio_anser
    = f.radio_button :no17, 2, class: "np", id: "np_7"
  %td.radio_anser
    = f.radio_button :no17, 1, class: "np", id: "np_7"
  %td.radio_anser
    = f.radio_button :no17, 0, class: "np", id: "np_7"
%tr
  %td.question_text 後輩や年下を甘やかすほうですか？
  %td.radio_anser
    = f.radio_button :no18, 2, class: "np", id: "np_8"
  %td.radio_anser
    = f.radio_button :no18, 1, class: "np", id: "np_8"
  %td.radio_anser
    = f.radio_button :no18, 0, class: "np", id: "np_8"
%tr
  %td.question_text たまに自分のことを「おせっかいだなぁ」と思ったりしますか？
  %td.radio_anser
    = f.radio_button :no19, 2, class: "np", id: "np_9"
  %td.radio_anser
    = f.radio_button :no19, 1, class: "np", id: "np_9"
  %td.radio_anser
    = f.radio_button :no19, 0, class: "np", id: "np_9"
%tr
  %td.question_text 自分が忙しくても、ついつい人を手伝ってしまうほうですか？
  %td.radio_anser
    = f.radio_button :no20, 2, class: "np", id: "np_10"
  %td.radio_anser
    = f.radio_button :no20, 1, class: "np", id: "np_10"
  %td.radio_anser
    = f.radio_button :no20, 0, class: "np", id: "np_10"